

<div class="jumbotron">
  <h1> Hexo blog de Programacion de <%= config.author %></h1>
  <p><%= config.subtitle %></p>
</div>

<div class='row'>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <h4><small>Posts Recientes</small></h4>
    <hr>
  	<% page.posts.each(function(post){ %>
      	<div class="panel panel-default">
      		<div class="panel-heading">
            <a href="<%- url_for(post.path) %>">
          		<%= post.title %>
          	</a>
            <div class='text-datem'>
              <%= date(post.date, config.date_format) %>
            </div>
          </div>


          <div class="panel-body">
          <% if(post.excerpt) { %>
            <p>
              <%- post.excerpt %>
            </p>
          <% } %>
          </div>
      	</div>
    	<% }) %>
  </div>

<!-- side widgets start -->
  <div class="col-md-4 hidden-xs hidden-sm">
    <%- partial('_partial/side-widgets') %>

  </div>    <!-- side menu column end -->
</div><!-- main row end -->
